{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<div class="flex-container">
            <div>OptiPro</div>
            <div>2</div>
            <div>3</div>  
          </div>
    <div class="about-us">
        <div class="randomdiv"></div>
            <h2>About Us</h2>
            <p>Welcome to OptiPro, a platform dedicated to helping users track their health risks, with a focus on predicting diabetes. While our current feature is diabetes prediction, we plan to expand our services to cover more health conditions in the future.</p>
        </div>
    </div>
{% endblock %}